# Entorno virtual
venv/
.venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Bases de datos
*.sqlite3
db.sqlite3

# Archivos de configuración local (¡importante!)
.env
config/local_settings.py
# Ignorar la carpeta con la firma electrónica
/secrets/

# Archivos de IDE
.idea/
.vscode/

# Archivos del sistema operativo
.DS_Store
Thumbs.db