# Django Core
Django>=5.0,<6.0
djangorestframework
django-cors-headers

# Authentication & Documentation
djangorestframework-simplejwt
drf-yasg
django-simple-history

# Utilities & Environment
python-dotenv
python-stdnum
requests
Pillow

# SRI (XML & SOAP)
lxml
zeep

# Database & Deployment (Railway)
django-storages==1.14.2
boto3==1.34.0
openpyxl==3.1.2
WeasyPrint==60.1
mysqlclient
dj-database-url
gunicorn
whitenoise
psycopg2-binary

# Asynchronous Tasks (Celery + Redis)
celery
redis
flake8
